<div>
  <h2>Création de script</h2>
  <label>
    
    Nom du script
    <Input id="scriptName" @type="text" @value={{@new_script.scriptName}}/>
  </label>
  <label for="scriptExt">
    <Input id="scriptExt" @type="text" @value={{@new_script.scriptExt}}/>
  </label>
  <label for="scriptContent">
    <Textarea id="scriptContent" class="textarea" @value={{@new_script.scriptContent}} />
  </label>
  <button  {{on "click"  (fn this.submitCreate @new_script)}}>Enregistrer le script</button>
</div>

{{yield}}